<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
 
	<display-name>TpLivreDor</display-name>
 
	<servlet>
		<servlet-name>CtrlEnregistrer</servlet-name>
		<servlet-class>livredor.ctrl.Enregistrer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaisirMessage</servlet-name>
		<jsp-file>/jsp/SaisirMessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LeLivreDor</servlet-name>
		<jsp-file>/jsp/LeLivreDor.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>LireMessage</servlet-name>
		<jsp-file>/jsp/LireMessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ChoisirSupprMessage</servlet-name>
		<jsp-file>/jsp/ChoisirSupprMessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>ConfirmerSupprMessage</servlet-name>
		<jsp-file>/jsp/ConfirmerSupprMessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>CtrlSupprimer</servlet-name>
		<servlet-class>livredor.ctrl.Supprimer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlConfirmer</servlet-name>
		<servlet-class>livredor.ctrl.Confirmer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SupprMsgAjax</servlet-name>
		<servlet-class>livredor.ctrl.SupprAjax</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlCentral</servlet-name>
		<servlet-class>livredor.ctrl.Central</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifierMessage</servlet-name>
		<jsp-file>/jsp/ModifierMessage.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>CtrlModifier</servlet-name>
		<servlet-class>livredor.ctrl.Modifier</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CtrlEnregistrer</servlet-name>
		<url-pattern>/Enregistrer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaisirMessage</servlet-name>
		<url-pattern>/SaisirMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LeLivreDor</servlet-name>
		<url-pattern>/LeLivreDor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlConfirmer</servlet-name>
		<url-pattern>/Confirmer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupprMsgAjax</servlet-name>
		<url-pattern>/SupprMsgAjax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlSupprimer</servlet-name>
		<url-pattern>/Supprimer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LireMessage</servlet-name>
		<url-pattern>/LireMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmerSupprMessage</servlet-name>
		<url-pattern>/ConfirmerSupprMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChoisirSupprMessage</servlet-name>
		<url-pattern>/ChoisirSupprMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifierMessage</servlet-name>
		<url-pattern>/ModifierMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlModifier</servlet-name>
		<url-pattern>/Modifier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlCentral</servlet-name>
		<url-pattern>/Central</url-pattern>
	</servlet-mapping>
  
	<welcome-file-list>
    	<welcome-file>LeLivreDor</welcome-file>
	</welcome-file-list>
</web-app>